* {
  font-family: "Piedra", cursive;
}

h1 {
  text-align: center;
  background-color: darkcyan;
}

body {
  background-color: darkslategray;
}

h2 {
  padding: 15px;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  background-color: gray;
}

.container1 {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

.card-text {
  margin-top: 20px;
  font-size: 17px;
}

#about-me {
  text-align: center;
  color: aqua;
}
